@import '~assets/scss/themes/light-theme';

.nav{
  display: flex;
  padding: 0;
  margin: 0;
}
.nav-item {
  padding: 15px;
  list-style-type: none;
  border-right: 1px solid;
  &:first-child {
    border-left: 1px solid;
  }
  &-base,
  &-base:first-child{
    border-color: getTheme(grey, dark);
  } 
}
 
.nav-link {
  margin: 0.5em 0; 
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
  &-base {
    color: getTheme(baseFontColor);
  }
  &-active {
    color: getTheme(primary);
  }
} 
 