@import '~assets/scss/themes/light-theme';
 
 .best-results-content {
  color: getTheme(black, light);
 }
 
//  Tab menu overwrite styles
 mat-tab-group.nested-tab ::ng-deep {
  .mat-tab-header {
    background: getTheme(grey, cloud);
  }
}
 mat-tab-group.primary-tab ::ng-deep {
  .mat-tab-label {
    width: 100%;
    text-transform: uppercase;
  }
  .mat-ink-bar {
    background-color: getTheme(primary);
    width: 33.333%!important;
   }
}
 
 