@import '~assets/scss/global/helpers.scss';

.result-checker {
  text-align: center;
}
.icon-compare {
  @media (max-width: 499px) {
    flex-direction: column;
    margin-top: -20px;
    i {
      padding-bottom: 10px;
    }
  }
}