<app-container>
  <app-board (ngSubmit)="false">
    <app-board-header header>
      <div>Score: {{ score$ | async }}</div>

      <div>Time: {{gameTimer$ | async}}s</div>
    </app-board-header>

    <app-board-body body *ngIf="(questionColour$ | async) as question">
      <div [style.padding]="'0 15px'">
        <div
          class="board-colour-item"
          [style.color]="question.colour">
          {{ question.name }}
        </div>

        <div fxLayout='row, wrap' fxLayoutAlign='space-between'>
          <div *ngFor="let colour of shuffledColours$ | async"
            class="board-body-item"
            fxFlex="48.3%">
            <button
              mat-button
              [style.background-color]="colour.colour"
              (click)="onAnswer(colour, question)">
              {{ colour.name }}
            </button>
          </div>
        </div>
      </div>

    </app-board-body>
  </app-board>
</app-container>